<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
 <div class="login">
	<h1>Pumpkin seeds classifier and lazy predictor</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Area" placeholder="Area" required="required" />
        <input type="text" name="Perimeter" placeholder="Perimeter" required="required" />
		<input type="text" name="Major_Axis_Length" placeholder="Major_Axis_Length" required="required" />
		<input type="text" name="Minor_Axis_Length" placeholder="Minor_Axis_Length" required="required" />
        <input type="text" name="Convex_Area" placeholder="Convex_Area" required="required" />
		<input type="text" name="Equiv_Diameter" placeholder="Equiv_Diameter" required="required" />
		<input type="text" name="Eccentricity" placeholder="Eccentricity" required="required" />
        <input type="text" name="Solidity" placeholder="Solidity" required="required" />
		<input type="text" name="Extent" placeholder="Extent" required="required" />
		<input type="text" name="Roundness" placeholder="Roundness" required="required" />
        <input type="text" name="Aspect_Ration" placeholder="Aspect_Ration" required="required" />
		<input type="text" name="Compactness" placeholder="Compactness" required="required" />


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>